<!--Main component works!! Title form component: <b>{{title}}</b>-->

<!--<app-section2></app-section2>-->


<!--<shell-component></shell-component>-->

<div class="tuneTop">
    <shell-component></shell-component>
    <!--<toaster-container></toaster-container>-->
    <toaster-container [toasterconfig]="config1"></toaster-container>

    <!--<toaster-container [toasterconfig]="loggerService.config1"></toaster-container>-->
</div>

<!--<app-top></app-top>-->
<!--<section>-->
    <!--<app-list-of-contents></app-list-of-contents>-->
    <!--<app-document></app-document>-->
<!--</section>-->
