<div> SIDEBAR
    <div class="sidebar">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <div class="sidebar-widget">
                <form class="row">
                    <div class="input-group col-sm-12">
                        <input type="text" class="form-control"
                               placeholder="Search course"
                               data-ng-model="searchText"
                               data-ng-keyup="search($event)"/>
                        <a class="btn btn-info btn-notext input-group-addon" data-ng-click="search($event)"><i
                                class="fa fa-search"></i></a>
                    </div>
                </form>
            </div>

            <ul class="navi">
                <div class="nlightblue" *ngFor='let r of navRoutes;'>
                    <!--<a href="#{{r.originalPath}}" data-ng-bind-html="r.settings.content"></a>-->
                    <!--<a href="#{{r}}">{{r}}</a>-->
                </div>

                <li class="nlightblue">
                    <a href="" data-ng-click="clearStorage()">
                        <i class="fa fa-trash-o"></i> Clear Storage
                        <span class="pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
