<section id="students-view" class="mainbar" data-ng-controller="StudentsController as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <input class="input-medium search-query"
                           data-ng-model="studentsSearch"
                           data-ng-keyup="search($event)"
                           placeholder="Search...">
                </div>
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info btn-form-md"
                           data-ng-click="refresh()"><i class="fa fa-refresh"></i><span
                                class="text">Refresh</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wgreen col-sm-12">
                    <div class="widget-head"
                         subtitle=""
                         right-text="">
                        <div class="left-title">{{title}} {{students.length}} / {{paging.studentsCount}}</div>
                        <div class="right-title">Page {{paging.currentPage}} of {{paging.pageCount}}</div>
                    </div>

                    <div class="widget-content user">
                        <div>
                            <!--<pagination boundary-links="true"-->
                                        <!--ng-change="pageChanged()"-->
                                        <!--total-items="studentsCount"-->
                                        <!--items-per-page="paging.pageSize"-->
                                        <!--ng-model="paging.currentPage"-->
                                        <!--max-size="paging.maxPagesToShow"-->
                                        <!--class="pagination-small"-->
                                        <!--previous-text="Prev"-->
                                        <!--next-text="Next"-->
                                        <!--first-text="First"-->
                                        <!--last-text="Last"></pagination>-->
                            <!--<div class="clearfix"></div>-->
                        </div>

                        <div class="widget-content user">
                            <div class="padd" *ngFor='let s of students;'>
                                <student-row [student]="s"></student-row>
                            </div>
                        </div>
                    </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
