<section id="dashboard-view" class="mainbar"
         data-ng-controller="Dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="bgreen"><a href="#/students">
                            <div class="pull-left"><i class="fa fa-group"></i></div>
                            <div class="datas-text pull-right"><span class="bold">{{getStudentsCount}}</span> Students
                            </div>
                            <div class="clearfix"></div>
                        </a>
                        </li>

                        <li class="borange"><a href="#/topics">
                            <div class="pull-left"><i class="fa fa-pencil-square-o"></i></div>
                            <div class="datas-text pull-right"><span class="bold">{{getTopicsCount}}</span> Topics
                            </div>
                            <div class="clearfix"></div>
                        </a>
                        </li>

                        <li class="bviolet"><a href="#/courses">
                            <div class="pull-left"><i class="fa fa-calendar"></i></div>
                            <div class="datas-text pull-right"><span class="bold">{{getCoursesCount}}</span> Courses
                            </div>
                            <div class="clearfix"></div>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" *ngFor="let cluster of clusters">
                    <div class="widget wlightblue">
                        <div class="widget-head">
                            {{cluster.name}}
                        </div>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Server Name</th>
                                    <th>IP</th>
                                </tr>
                                </thead>
                                <tbody  *ngFor="let server of cluster.servers">
                                    <tr>
                                        <td>{{server.name}}</td>
                                        <td>{{server.ip}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div class="widget-head">
                            {{news.title}}
                        </div>
                        <div class="widget-content text-center text-info">
                            <small>{{news.description}}</small>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>